.use-locales-settings {
  .custom-tab {
    .ant-tabs-tab {
      padding: 8px 0;
    }

    .ant-tabs-tab-active {
      color: var(--supos-theme-color);
    }

    .ant-tabs-tab-btn {
      width: 200px;
    }
  }
}

.useLocalesSettingsWrap {
  width: 100%;
  height: 250px;
  border-radius: 3px;
  background-color: var(--supos-charttop-bg-color);
}

.useLocalesSettingsContent {
  background-color: var(--supos-home-bg-color);
  padding: 10px;
  max-width: 90%;
  margin-top: 12px;
}
