/backend/backend
*.exe

.idea
.cursorrules
.editorconfig

# frontend
**/node_modules
**/build
**/dist
**/.turbo
**/.vite
.vscode
AGENTS.md
backend/.env
**/*.local
**/.__mf__temp
**/properties-output
**/.env
**/.env.production
.trae
deploy/localtest/
