// 所有颜色取值地方
:root {
  --supos-t-modal-color: #fff;
  --supos-t-light-card-select-bg: rgb(141 141 141 / 12%);
  --supos-t-boxshadow-light-color: rgb(0 0 0 / 10%);
  --supos-t-boxshadow-dark-color: rgb(255 255 255 / 8%);
  --supos-t-placeholder-color: #cac9c7;
  --supos-t-shadow-color: hsl(0deg 0% 0% / 25%);
  --supos-t-button-d-color: rgb(0 0 0 / 4%);
  --supos-t-select-d-color: rgb(0 0 0 / 25%);
  --supos-t-white-select-d-color: rgb(255 255 255 / 25%);
  --supos-t-white-color: #fff;
  --supos-t-black-color: #000;
  --supos-t-yellow-color: #f1c21b;
  --supos-t-orange-color: #ff832b;
  --supos-t-menu-hover-color: #333;
  --supos-t-menu-active-color: #525252;
  --supos-t-table-head-color: #e8e8e8;
  --supos-t-table-first-color: #585c62;
  --supos-t-icon-color: #196be6;
  // gray 主题色
  --supos-t-gray-color-100: #161616;
  --supos-t-gray-color-90: #262626;
  --supos-t-gray-color-80: #393939;
  --supos-t-gray-color-70: #525252;
  --supos-t-gray-color-60: #6f6f6f;
  --supos-t-gray-color-50: #8d8d8d;
  --supos-t-gray-color-40: #a8a8a8;
  --supos-t-gray-color-30: #c6c6c6;
  --supos-t-gray-color-20: #e0e0e0;
  --supos-t-gray-color-10: #f4f4f4;
  // Magenta 主题色
  --supos-t-magenta-color-100: #2a0a18;
  --supos-t-magenta-color-90: #510224;
  --supos-t-magenta-color-80: #740937;
  --supos-t-magenta-color-70: #9f1853;
  --supos-t-magenta-color-60: #d02670;
  --supos-t-magenta-color-50: #ee5396;
  --supos-t-magenta-color-40: #ff7eb6;
  --supos-t-magenta-color-30: #ffafd2;
  --supos-t-magenta-color-20: #ffd6e8;
  --supos-t-magenta-color-10: #fff0f7;
  // Teal 主题色
  --supos-t-teal-color-100: #081a1c;
  --supos-t-teal-color-90: #022b30;
  --supos-t-teal-color-80: #004144;
  --supos-t-teal-color-70: #005d5d;
  --supos-t-teal-color-60: #007d79;
  --supos-t-teal-color-50: #009d9a;
  --supos-t-teal-color-40: #08bdba;
  --supos-t-teal-color-30: #3ddbd9;
  --supos-t-teal-color-20: #9ef0f0;
  --supos-t-teal-color-10: #d9fbfb;
  // Teal 主题色
  --supos-t-blue-color-100: #061833;
  --supos-t-blue-color-90: #0f3c7f;
  --supos-t-blue-color-80: #134fa9;
  --supos-t-blue-color-70: #1d77fe;
  --supos-t-blue-color-60: #438efe;
  --supos-t-blue-color-50: #68a4fe;
  --supos-t-blue-color-40: #68a4fe;
  --supos-t-blue-color-30: #8ebbff;
  --supos-t-blue-color-20: #bbd6ff;
  --supos-t-blue-color-10: #e8f1ff;
  --supos-t-chartreuse-color-100: #242f06;
  --supos-t-chartreuse-color-90: #3b4f0a;
  --supos-t-chartreuse-color-80: #59770f;
  --supos-t-chartreuse-color-70: rgb(148 197 24);
  --supos-t-chartreuse-color-60: #b2ed1d;
  --supos-t-chartreuse-color-50: #bff043;
  --supos-t-chartreuse-color-40: #ccf368;
  --supos-t-chartreuse-color-30: #d9f68e;
  --supos-t-chartreuse-color-20: #e5f9b4;
  --supos-t-chartreuse-color-10: #f0fbd2;
}
