.sortableTreeNodeOut {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: 10;
    width: 100%;
    height: 2px;
    background: var(--supos-theme-color);
    //width: 0;
    //height: 0;
    //border-left: 4px solid transparent;
    //border-right: 4px solid transparent;
    //border-bottom: 6px solid var(--supos-theme-color);
  }
}

.sortableTreeNodeIn {
  background: rgba(var(--supos-theme-color-rgb), 0.1);
}
