.importModalWrap {
  z-index: 999;

  .uploadWrap {
    .ant-upload-drag {
      height: 100%;
      border-radius: 4px;
      border: none;
      background: var(--supos-charttop-bg-color);
    }

    .ant-upload-list {
      max-height: 300px;
      overflow-y: auto;

      .ant-upload-list-item-container {
        overflow: hidden;
      }
    }
  }

  .uploadWrapFile {
    .ant-upload-drag {
      height: calc(100% - 30px) !important;
    }
  }

  .loadingWrap {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: var(--supos-charttop-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
