.custom-collapse {
  :global {
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 !important;
    }

    .ant-collapse-header {
      padding: 16px 0 !important;
    }

    .ant-collapse-expand-icon {
      padding-right: 4px !important;
    }
  }
}
