@keyframes com-dot-breathing {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes com-dot-breathing {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.com-dot {
  .com-dot-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &.breathing {
      margin: 5px;
    }

    &.breathing::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background-color: inherit;
      animation: com-dot-breathing 1.5s infinite ease-out;
    }
  }
}
