.container {
  width: 100%;

  &.hasLabel {
    padding: 16px;
    background: var(--supos-tag-color);
  }

  div.content {
    padding: 0;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
  }
}
